.vjs-menu-button-parental-level .vjs-icon-placeholder:before{
    content: '\f156 ';
    font-weight: normal;
    font-style: normal;
    font-size: 1.8em;
    line-height: 2.5em;
    font-family: Flaticon;
}


.intro-skip-div{
    display:none;
    z-index:1 !important;
  }
  
  .vjs-resolution-button, .vjs-subs-caps-button ,.vjs-menu-button{
      z-index:2 !important;  
  }
